.intro{
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* Intro-Wrap */
.intro-wrap {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  gap: 80px;
}
.intro-wrap > img{
  width: 30%;
  opacity: 0.3;
}




/* Intro-Content */
.intro-content{
  width: 505px;
  height: 60px;
  padding-top: 30px;
  font-size: 26px;
  
}

.intro-content h1{
  font-size: 34px;
  color: #333;
  font-weight: 600;
  margin-bottom: 20px;
}

/* 커서 효과 */
.typing::after {
  content: '|'; /* 커서 문자 */
  display: inline-block; /* 블록 레벨 요소로 표시 */
  animation: blink 1s step-end infinite; /* 깜빡임 효과 */
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}



.up-text{
  margin: 5px 0 10px 0;
  font-weight: 600;
  color: #333;
}
.up-text em{
  color: #007ACC;
  font-style: normal;
  font-weight: 700;
}
.down-text{
  font-weight: 600;
  color: #333;
}

