/* 반응형 */
@media screen and (max-width:1400px) {
  .project .swiper{
    width: 100%;
    top: 50%;
  }
  .swiper-button-prev, .swiper-button-next{
    top: 100%;
    transform: scale(0.6);
  }
  .swiper-button-prev{
    left: 30%;
  }
  .swiper-button-next{
    right: 30%;
  }
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -1.5%;
  }
}

@media screen and (max-width: 1024px) {

  /* Header */

  /* Main */

  /* SideBar */
  .sidebar.move + .main-container .tab-sidebar {
    width: 200px;
  }
  .sidebar.move + .main-container .tab-sidebar .sidebar-title{
    display: flex !important;
  }
  .sidebar.move + .main-container .tab-sidebar .sidebar-wrap{
    display: block !important;
  }

  /* TabContents */
  .main-container{
    height: inherit;
  }
  .main-container .tab-sidebar .sidebar-title, .main-container .tab-sidebar .sidebar-wrap{
    display: none !important;
  }

  .main-container .tab-sidebar {
    width: 0;
  }
  
  .main-container .tabs-container{
    position: absolute;
    width: inherit;
    height: inherit;
  }
  .main-container .tabs-container .tabs{
    width: 100%;
    height: inherit;
  }
  .main-container .tabs-container .tabs .tab-content{
    width: 100%;
  }

  /* Intro */
  .intro{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .intro-wrap{
    flex-direction: column;
    gap: 35px;
    
  }
  .intro-content{
    padding-top: 20px;
    height: auto;
  }
  .intro-wrap > img{
    width: 40%;
  }


  /* About */
  .about{
    height: 100%; 
    overflow-y: auto; 
    scrollbar-width: thin;
  }
  .about-container{
    flex-direction: column;
    transform: translate(0 , 0);
    justify-content: flex-start;
    margin-top: 120px;
    gap: 50px;

  }
  .about-container > div{
    width: 70%;
    height: auto;
    
  }
  .about-container > div .subtitle{
    margin-bottom: 15px;
    text-align: left;
  }

  .profile{
    box-shadow: none;
    padding: 0;
  }
  .profile .my-profile{
    padding: 20px 0;
    height: auto;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.205);
    border-radius: 20px;
  }
  .profile .my-profile .profile-uni{
    padding-left: 60px;
  }

  .skills{
    padding: 0 0 100px 0;
  }
  .skills-wrap{
    width: 100%;
    max-height: 300px;
    position: static;
    transform: translate(0%, 0%);
  }
  .skill-items{
    width: 100%;
  }
  .skill-item{
    width: 100%;
  }
  .skill-item span{
    width: 30%;
  }
  .skill-item p{
    width: 50%;
  }



  /* Project */
  /* 슬라이드 */
  .project-card{
    transform: scale(0.9);
    filter: brightness(1);
  }
  
  .swiper-slide-active .project-card{
    transform: scale(0.9);
  }
  .swiper-slide-prev .project-card{
    transform: scale(0.9);
  }
  .swiper-slide-next .project-card{
    transform: scale(0.9);
  }

  /* Contact */
  .contact{
    height: 100%; 
    overflow-y: auto; 
    scrollbar-width: thin;
  }
  .contact-container{
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 120px;
  }
  .contact-wrap{
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  /* Footer */
}
@media screen and (max-width: 930px) {
  .skill-item span{
    font-size: 16px;
  }
  .skill-item p{
    font-size: 16px;
  }
}
@media screen and (max-width: 880px) {
  .skill-items{
    margin-left: 20px;
    font-size: 14px;
  }
}

@media screen and (max-width:800px) {
  .swiper-button-prev{
    left: 25%;
  }
  .swiper-button-next{
    right: 25%;
  }
}

@media screen and (max-width: 750px) {
  .intro-wrap > img{
    width: 60%;
  }

  .profile .my-profile{
    padding: 40px 0;
  }
  .profile-image-wrap{
    margin-bottom: 10px;

  }
  .profile-text{
    width: 100%;
    padding-left: 60px;
    gap: 10px;
    padding-top: 0;
  }
  .profile-image-wrap{
    flex-direction: column;
  }
}

@media screen and (max-width: 715px) {
  .contact-wrap .contact-footer p{
    margin-left: 30px;
  }
  .contact-wrap .contact-link ul{
    margin-left: 30px;
  }
  .contact-wrap div ul{
    margin-left: 15px;
  }
}

@media screen and (max-width: 680px) {
  .common-Title{
    width: 100%;
    text-align: center;
  }
  
  .intro-content{
    width: 75%;
    
  }
  .intro-content h1{font-size: 28px;}
  .intro-content p{font-size: 22px;}

  .tab-header{
    padding-left: 0;
  }
  .tab-button {
    width: 24%;
  }
  .tab-header-img{width: 13px; height: 13px;}
  .tab-header-img img{display: block;}
  .tab-button span{}
  

}

@media screen and (max-width: 635px){
  .tab-header-img{display: none;}
  .tab-button span{margin: 0 5px 0 0;}
  .tab-button .tab-button-close img{display: block;}

  .profile-text{
    width: 85%;
    padding-left: 0;
    margin: 0 auto;
  }
  .profile-text li{
    width: 100%;
  }
  .profile .my-profile .profile-text-wrap{
    width: 85%;
    margin: 0 auto;
  }
  .profile .my-profile .profile-text-wrap .profile-uni{
    padding-left: 0;
  }
  .profile .my-profile .profile-text-wrap .profile-uni ul li{
    font-size: 14px;
  }
}

@media screen and (max-width: 630px){
  .intro-content{
    width: 70%;
    
  }
  .intro-content h1{font-size: 26px;}
  .intro-content p{font-size: 20px;}
}

@media screen and (max-width: 615px){
  .intro-content{
    width: 80%;
  }
}

@media screen and (max-width:600px) {
  .swiper-button-prev{
    left: 20%;
  }
  .swiper-button-next{
    right: 20%;
  }
}

@media screen and (max-width: 550px){
  .intro-content{
    width: 85%;
  }
}

@media screen and (max-width: 520px){
  .intro-content{
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .tab-button span{
    font-size: 14px;
  }

  .intro-content {width: 100%; padding-left: 5%;}
  .intro-content h1{font-size: 24px;}
  .intro-content p{font-size: 18px;}

  .about-container > div {
    width: 90%;
  }
  .profile-text{width: 75%;}
  .profile .my-profile .profile-text-wrap{width: 75%;}

  .profile-uni ul li{
    text-indent: 5px;
  }

  .project .swiper{
    top: 48%;
  }
  .project-card{
    transform: scale(0.8);
  }
  .swiper-slide-active .project-card{
    transform: scale(0.8);
  }

  .modal-container{
    width: 300px;
    height: 300px;
    
  }
  .modal-content{
    width: 300px;
    height: 300px;
  }

}
@media screen and (max-width: 460px) {
  .contact-wrap .contact-footer p{
    margin-bottom: 5px;
    font-size: 16px;
    margin-left: 0;
  }
}

@media screen and (max-width: 430px) {
  .intro-content h1{font-size: 22px;}
  .intro-content p{font-size: 16px;}

  .tab-button span{
    font-size: 12px;
  }
  .contact-wrap .contact-footer p{
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .common-Title{
    font-size: 32px;
  }

  .header > p {
    font-size: 14px;
  }
  .intro-content{font-size: 16px;}


  .profile .subtitle, .skills .subtitle{
    font-size: 26px;
  }
  .profile-text{width: 85%;}
  .profile .my-profile .profile-text-wrap{width: 85%;}

  .skill-items{
    margin-left: 5px;
  }
  .skill-item p{
    font-size: 14px;
  }

  .contact-wrap > div > h2{
    font-size: 26px;
  }
}

@media screen and (max-width: 400px) {
  
}

@media screen and (max-width:390px) {
  .intro-content{padding-left: 3%;}

  .project .swiper{
    width: 95%;
    height: 100%;
    position: static;
    transform: translateY(0);
    
  }
  .swiper-wrapper{
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .swiper-slide{
    width: 97%;
    height: 100%;
  }

  .swiper-button-prev, .swiper-button-next{
    top: 95%;
  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 4.5%;
  }

  .swiper-button-prev, .swiper-button-next{
    top: 94%;
  }
  .swiper-button-prev{
    left: 10%;
  }
  .swiper-button-next{
    right: 10%;
  }

  /* Product Card */
  .project-card{
    transform: scale(1);
    width: 100%;
    height: auto;
  }
  .swiper-slide-active .project-card{
    transform: scale(0.8);
    width: 100%;
    height: auto;
  }
  .swiper-slide-prev .project-card{
    transform: scale(0.8);
  }
  .swiper-slide-next .project-card{
    transform: scale(0.8);
  }
  
  .content-title{
    padding: 10px 0;
    font-size: 20px;
  }
  .card-content{
    height: auto;
    padding-left: 6px;
    justify-content: center;
    gap: 5px;
  }

  .project-common-title{
    font-size: 13px;
    text-wrap: nowrap;
  }

  .project-time span{
    font-size: 13px;
  }

  .project-func ul li{
    font-size: 13px;
  }

  .project-problem{
    margin-left: 15px;
  }
  .project-problem h5{
    font-size: 13px;
  }
  .project-problem ul{}
  .project-problem ul li{
    font-size: 13px;
  }

  .project-solution{
    margin-left: 15px;
  }
  .project-solution h5{
    font-size: 13px;
  }
  .project-solution ul li{
    font-size: 13px;
  }
  .project-link{
    gap: 7px;
  }
}
